<h1 class="text-center">Rock Paper Scissors</h1>


<form class="form-inline" action="/name" method="post">
	<input class="center-block" type="text" name="name" placeholder="Enter name">
	<button class="btn btn-primary center-block" type="submit">submit</button>
</form>



