<div class="text-center">

<H2>Hi, <%= player.name %>, let's play.</H2>

<form action="/move" method="post">
	<div class ="btn-toolbar">
		<button class="btn btn-danger" name="move" type="submit" value="rock">Rock</button>
		<button class= "btn btn-warning" name="move" type="submit" value="paper">Paper</button>
		<button class="btn btn-success" name="move" type="submit" value="scissors">Scissors</button>
	</div>
</form>

<% check_winner if !@game.player1.move.nil? %>

<% if @game.player1.move %> 

	<% if @winner == @game.player1  %>

		<div class="alert alert-dismissable alert-success">
		  <button type="button" class="close" data-dismiss="alert">×</button>
		  <strong><%= @game.player1.name %> wins.</strong>
		</div>

	<% elsif @winner == "Draw" %>

		<div class="alert alert-dismissable alert-info">
		  <button type="button" class="close" data-dismiss="alert">×</button>
		  <strong>Draw.</strong>
		</div>

	<% else %>

		<div class="alert alert-dismissable alert-danger">
		  <button type="button" class="close" data-dismiss="alert">×</button>
		  <strong><%= @game.player2.name %> wins.</strong>
		</div>

	<% end %>

<% end %>


</div>